$gray:            #ccc;
$borderGray:      #d7d8e0;
$backgroundGray:  #eceef4;
$backgroundHover: #e3e4e9;
$fontGray:        #a5abc5;
$lightGray:       #f7f7fa;
$titleGray:       #6e768f;
$blue:            #5fcac6;
$borderBlue:      #54aca9;
$inputBlue:       #76a7e1;
$white:           #fff;
$orange:          #e6b05e;
$orangeHover:     #f17e31;